{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git",
    ["@semantic-release/exec", {
         "publishCmd": "pwd && cd ./packages/test1 && yarn publish --new-version ${nextRelease.version} && pwd && cd ../test2 && yarn publish --new-version ${nextRelease.version}"
    }]
  ],
}